# Compiled Object files
*.obj
*.slo
*.lo
*.obj
*.o

# Visual Studio
*.pdb
*.ilk
*.sdf
*.suo
*.log
*.tlog
*.ipch
*.pdb
*.exp
*.opensdf
*.user
*.filters
*.exe.manifest

*.exe
log.txt

!FragmentFramework.exp
!FragmentFramework.pdb
!FragmentFramework-debug.exp
!FragmentFramework-debug.pdb

# Code::Blocks
*.layout
*.save
*.save-failed
*.save-fail
*.depend

objects/
